.left-products{
border-radius: 16px;
/* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
/* height: 71px; */
width: 75px;
display: flex;
flex-direction: column;
gap: 30px;
/* background-color: red; */
align-self: stretch;

}



.left-cont{
    display: flex;
    gap: 67px;
}
.about-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.para-1{
    color: var(--background-600, #656565);
text-align: justify;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 444.803px;
}
.about-title{
    color: #040833;
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.right-container{
    background-color: red;
    
}

